.button {
  color: var(--color-light);
  background-color: var(--color-blue);
  border: none;
  height: var(--button-height);
  padding-inline: 2.5em;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;

  &--blue-colored {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}
