.footer {
  &__body {
    display: flex;
    flex: 1;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 64px 140px;
    background-color: #004a9e;
    border-radius: 50px 50px 0 0;
  }
}

.contacts {
  &-block {
    display: flex;

    &__wrapper {
      display: flex;
      padding-block: 64px;
      column-gap: 20px;
    }

    &__contents {
      display: flex;
      flex-direction: column;
    }
  }

  &-email {
    font-size: 24px;
    display: block;
    margin-bottom: 24px;
  }

  &-description {
    color: #ccdbec;
  }

  &-socials {
    display: flex;
    column-gap: 8px;
  }
}

.misc__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  color: #ccdbec;
}

.section-header.contacts-header {
  align-items: start;
  justify-content: start;

  margin-bottom: 32px;
  row-gap: 16px;
}

.section-title.contacts-title {
  color: #ccdbec;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.section-subtitle.contacts-subtitle {
  line-height: 1.2;
  text-align: start;
  font-size: 40px;
}

.form {
  display: flex;
  flex-direction: column;
}

.text--gray-light {
  color: #ccdbec;
}
