.header {
    background-color: var(--color-gray-dark);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-menu-list {
    display: flex;
    column-gap: 20px;
}

.header-menu-item a {
    text-decoration: none;
    color: var(--color-light);
}

.header-button {
    color: var(--color-dark);
    background-color: var(--color-light);
    height: 3em;
}

.logo {
    height: 2rem;
    cursor: pointer;
}
