---
const { title, subtitle } = Astro.props;
---

<header class="flex justify-between items-center mb-10">
  <p class="font-semibold tracking-tight text-center text-4xl uppercase">{subtitle}</p>
  <h2
    class="text-sm text-center uppercase box-border py-2 px-4 text-[var(--color-gray-light)] bg-[#222] rounded-full border border-[#333]"
  >
    {title}
  </h2>
</header>
