body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-light);
  line-height: 1.35;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  transition: opacity 0.1s;
}

a:hover,
button:hover {
  opacity: 0.7;
}
