<section id="contacts" class="max-w-7xl mx-auto px-6 md:px-12 mb-12 md:mb-20">
  <div
    class="flex flex-col items-center text-center border border-[var(--color-light)]/10 bg-[var(--color-light)]/5 backdrop-blur-sm rounded-2xl p-6 sm:p-8 md:p-10"
  >
    <h2 class="sr-only">Контакты</h2>
    <p class="text-xl sm:text-2xl mb-2">Есть вопросы или хотите обсудить проект?</p>
    <p
      class="text-sm sm:text-base md:text-lg text-[var(--color-gray-light)] mb-6 md:mb-8 max-w-2xl"
    >
      Напишите мне, и я с радостью помогу вам.
    </p>
    <a
      href=""
      class="flex items-center justify-center gap-2 sm:gap-3 px-6 sm:px-8 py-3 sm:py-4 font-medium rounded-full bg-[var(--color-blue)] border border-[var(--color-gray-dark)] transition-opacity duration-150 hover:opacity-90"
    >
      <span class="text-sm sm:text-base md:text-lg">Написать в телеграм</span>
      <img
        src="./assets/icons/TG.svg"
        alt="Telegram"
        width="48"
        height="48"
        class="h-5 w-5 sm:h-6 sm:w-6"
      />
    </a>
  </div>
</section>
