<section id="contacts" class="max-w-7xl mx-auto px-12.5 mb-20">
  <div class="flex flex-col items-center bg-[var(--color-gray-dark)] rounded-2xl p-10">
    <h2 class="sr-only">Контакты</h2>
    <p class="text-2xl mb-2">Есть вопросы или хотите обсудить проект?</p>
    <p class="text-[var(--color-gray-light)] mb-8">Напишите мне, и я с радостью помогу вам.</p>
    <a
      href=""
      class="flex items-center bg-[var(--color-blue)] border border-[var(--color-gray-dark)] gap-2 px-4 py-2 rounded-full"
      ><span>Написать в телеграм</span><img
        src="./assets/icons/Group.svg"
        alt="social"
        class="h-12 w-12"
      /></a
    >
  </div>
</section>
