<footer class="border-t border-[var(--color-gray-dark)] bg-[var(--color-dark)]">
  <div class="max-w-7xl mx-auto px-12.5 py-4">
    <div class="flex flex-col items-center gap-4">
      <span class="text-sm text-[var(--color-gray-light)]">©2025 Vidleyn. Все права защищены</span>
    </div>
  </div>
</footer>
