body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-light);
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 2em;
}

p {
  color: var(--color-gray-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: 0.8;
}

section.hero {
  margin-bottom: 80px;
}

section:not(.hero) {
  margin-block: 120px;
}

.section__body {
  overflow-x: auto;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 64px 160px 54px;
  gap: var(--gutter-widescreen);
}

label {
  display: none;
}

input,
textarea {
  height: 100%;
  width: 100%;
  color: var(--color-light);
  background-color: #003776;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #335f91;

  &::placeholder {
    color: #6687ad;
  }

  &:focus-visible {
    outline: none;
    border-color: #6687ad;
  }
}

.input-wrapper {
  &__comment-input {
    grid-column: span 2;
  }
}

.form-button {
  grid-column: span 2;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
