.container {
  max-width: calc(var(--container-width-widescreen) + var(--container-padding-widescreen) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-widescreen);
}

$widescreen-breakpoint: 1840px;

@media (max-width: #{$widescreen-breakpoint}) {
  .container {
    max-width: calc(
      var(--container-width-regularscreen) + var(--container-padding-regularscreen) * 2
    );
    margin-inline: auto;
    padding-inline: var(--container-padding-regularscreen);
  }
}

.visually-hidden {
  display: none !important;
}
