@import "fonts", "globals", "mixins", "normalizer", "utils", "variables";
@import "blocks/header", "blocks/hero", "blocks/footer";

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-bottom: 1em;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.5rem;
}

p {
    color: var(--color-gray-light);
}

.button {
    color: var(--color-light);
    background-color: var(--color-blue);
    border: none;
    height: var(--button-height);
    padding-inline: 2.5em;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
}

.card {
    background-color: var(--color-gray-dark);
    padding: 2.5em;
    border-radius: var(--border-radius);
}

.card-list {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.portfolio-list {
    flex-direction: column;
}

.advantages-card {
    width: 380px;
}

.portfolio-card.card {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

.steps-card {
    width: 380px;
}

.services-card {
    width: 580px;
}

@media (max-width: 1280px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
